.wetherBg {
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: white;
  font-weight: 700;
  margin-bottom: 100;
}
.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.wetherResultBox {
  margin: auto;
  width: 500px;
  height: 300px;
  background: url("../src/box.jpg");
}
.weathorIcon {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weathorCity {
  font-size: 35px;
}
.weathorTemp {
  font-size: 55px;
  font-weight: 700;
}
