.inputbox {
  top: 100px;
  margin-left: 30;
}
.password {
  margin-left: 100;
}
.submit {
  margin-bottom: 300;
}
.signinbackground {
  background: url("../src/login.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
